<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NHS Photo Wall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/foundation.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-blue bg-light" style="margin-bottom:30px">
    <a class="navbar-brand" href="#">NHS Photo Wall</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register Worker</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdown" role="button">
                    Tribes
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/squad_display">All Tribes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/squad_individual_CIS">CIS</a>
                    <a class="dropdown-item" href="/squad_individual_SPINE">Spine</a>
                    <a class="dropdown-item" href="/squad_individual_SUS+">SUS+</a>
                    <a class="dropdown-item" href="/squad_individual_HES">HES</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-6 medium-6 large-6">
        <div class="orbit" role="region" aria-label="Tribes" data-orbit>
            <div class="orbit-wrapper">
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;
                    </button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                </div>
                <ul class="orbit-container" style="margin-top:">
                    <li class="is-active orbit-slide">
                        <figure class="orbit-figure">
                            <a href="/squad_display">
                                <img class="orbit-image" src="https://placehold.it/1200x600/999?text=Slide-1"
                                     alt="Space">
                            </a>
                            <figcaption class="orbit-caption">CIS (Care Identity Service)</figcaption>
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <a href="/register">
                                <img class="orbit-image" src="https://placehold.it/1200x600/888?text=Slide-2"
                                     alt="Space">
                            </a>
                            <figcaption class="orbit-caption">Spine</figcaption>
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <a href="/register">
                                <img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3"
                                     alt="Space">
                            </a>
                            <figcaption class="orbit-caption">SUS+</figcaption>
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <a href="/register">
                                <img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4"
                                     alt="Space">
                            </a>
                            <figcaption class="orbit-caption">HES</figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0">
                    <span class="show-for-sr">First slide details.</span>
                    <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                </button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
        </div>
    </div>
    <div class="cell small-3"></div>
</div>


<script src="../static/js/vendor/jquery.js"></script>
<script src="../static/js/vendor/what-input.js"></script>
<script src="../static/js/vendor/foundation.js"></script>
<script src="../static/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>